.container {
  display: flex;
  .inputs {
    margin: 10px 10px 10px 0;
    display: flex;
    > div {
      margin-left: 5px;
      border-radius: 0px !important;
    }
  }
}
.message {
  font-size: 10px;
  text-align: center;
  margin-top: 5px;
  font-weight: 500;
}
