.container {
  padding: 5px;
  position: relative;
  width: 100vw;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: calc(100vh - var(--topbar-height));
  display: flex;
  flex-direction: column;
}

.loading {
  position: relative;
  height: calc(100vh - var(--topbar-height));
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.tabsize {
  height: calc(100% - 1px);
  width: calc(100vw - 15px);
  background-color: white;
  margin-left: 1px;
}
