.root {
  display: inline-block;
  color: #787878;
  border: 1px solid #dbdbdb;
  font-size: 12px;
  line-height: 20px;
  border-radius: var(--default-border-radius);
  .button {
    padding: 1px;
    min-height: 26px;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover,
    &:active,
    &:focus,
    &.active {
      box-shadow: 0 3px 5px var(--default-shadow-color);
    }
    > .selected {
      display: inline-flex;
      flex-wrap: wrap;
      flex: 1;
      > input {
        border: none;
        background: transparent;
        flex: 1;
        padding-left: 5px;
        height: 24px;
        min-width: 50px;
      }
    }

    > span {
      padding: 5px 10px;
      &.icon {
        transition: 0.3s all;
        float: right;
        &.rotate {
          transform: rotate(180deg);
        }
      }
    }
  }

  .list {
    visibility: hidden;
    height: 0px;
    max-height: 350px;
    overflow: auto;
    position: absolute;
    background: #fff;
    border: 1px solid #dbdbdb;
    padding: 0;
    outline: 0;
    margin: 0;
    list-style: none;
    z-index: 999;
    li {
      padding: 1px 5px 1px 5px;
      line-height: 24px;
      min-height: 24px;
      cursor: default;
      &:hover {
        color: #fff;
        border-color: var(--primary);
        background-color: var(--primary);
        box-shadow: 0 3px 5px var(--default-shadow-color);
      }

      &.active {
        color: #fff;
        background-color: var(--primary);
      }
    }
  }
  .show {
    height: 200px;
    visibility: visible;
    box-shadow: 0 3px 5px var(--default-shadow-color);
  }
}
