.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  overflow: auto;
  z-index: 999;
  display: none;
  /* overflow: hidden; */
}

.modal-main {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  color: #000;
  // border: 1px solid #888;
  box-shadow: 0 0 10px white;
  width: 50%;
  z-index: 9999;
  border-radius: var(--default-border-radius);
  .title {
    margin-bottom: 15px;
  }
  .title span {
    margin-right: 5px;
  }
  .buttons {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
  }
  input[type="text"] {
    width: calc(100% - 26px);
    padding: 6px 10px;
    font-size: 14px;
    border: 0 !important;
    border-bottom: 1px dotted gray !important;
  }
}

.block {
  display: flex;
}

.enter {
  opacity: 0.01;
  transform: scale(0.9);
}

.enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 300ms ease-out;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .modal-main {
    width: 87%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .modal-main {
    width: 87%;
  }
}
