@import './resources/scrollbar.min.css';

body {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  user-select: none;
}

.preload {
  height: 100%;
  width: 100%;
  position: absolute;
  color: #fff;
  background-color: rgba(73, 76, 91, 0.95);
  background-image: url(resources/pglogo.png);
  background-position: center center;
  background-size: 10%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  box-shadow: 0 0 60rem 5rem rgb(0, 0, 0, 0.5);
  animation: animation-logo 1s infinite;
}

@keyframes animation-logo {
  0%,
  100% {
    background-size: 10%;
  }

  50% {
    background-size: 10.5%;
  }
}
#root {
  background-image: url(./resources/bg-wrapper-blue.png);
  background-color: #0046ad !important;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
  color: #ebebeb;
}
*:focus {
  outline: none;
}

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #8ebc00;
  --primary-alpha: #007bffd9;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #000;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --default-shadow-color: #ccc;
  --default-padding: 0.5rem;
  --default-margin: 0.5rem;
  --default-border: 0.15rem;
  --default-border-radius: 3px;
  --default-color-disabled: #aeaeaf;
  --topbar-height: 3rem;
  --switch-height: 1.5rem;
  --default-font-size: 1rem;
  --font-family: 'Varela Round', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', FontAwesome;
}

/* DX grid */

.dx-datagrid-header-panel .dx-toolbar  {
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

.dx-datagrid-filter-row .dx-editor-cell .dx-editor-with-menu .dx-menu  {
  width: auto;
}

.dx-datagrid-filter-row .dx-menu .dx-menu-horizontal {
  width: auto;
}

.dx-popup-wrapper .dx-calendar .dx-calendar-caption-button {
  width: auto;
}

.dx-texteditor-input {
  border-radius: 0 !important;
}

.multi-select {
  border-radius: var(--default-border-radius);
}

.pg-darkred-color {
  color: #fe1a0e;
}

.dx-datagrid-header-panel .dx-toolbar {
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 0 5px;
}

.available-list .item,
.selected-list .item {
  font-size: 11px;
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.hidden {
  visibility: hidden;
}

/* DX pivot */
.dx-pivotgrid-fields-area[group='data'] tr {
  display: none;
}

.dx-pivotgrid .dx-column-header .dx-pivotgrid-toolbar .dx-button,
.dx-pivotgrid .dx-filter-header .dx-pivotgrid-toolbar .dx-button {
  margin-top: 5px;
  margin-bottom: 5px;
}

.dx-grandtotal.dx-row-total {
  background: #eaeaea !important;
}

.dx-pivotgrid .dx-pivotgrid-area td {
  color: #484848 !important;
}

.dx-grandtotal.dx-row-total span {
  color: #3a3a3a;
  font-weight: bold;
}

.dx-pivotgrid-horizontal-headers {
  justify-content: center;
  line-height: 2.5;
}

#generic-pivot .dx-pivotgrid-fields-area[group='column'] tr {
  display: none;
}

/* set width of pivot summary column */
#generic-pivot .dx-area-column-cell,
#generic-pivot .dx-area-column-cell .dx-scrollable-content,
#generic-pivot .dx-area-column-cell .dx-scrollable-content table colgroup col,
#generic-pivot .dx-area-column-cell .dx-scrollable-content > * {
  width: 100px !important;
}

#generic-pivot .dx-area-data-cell,
#generic-pivot .dx-area-data-cell .dx-scrollable-content,
#generic-pivot .dx-area-data-cell .dx-scrollable-content table colgroup col,
#generic-pivot .dx-area-data-cell .dx-scrollable-content > * {
  width: 100px !important;
}
