.root {
  height: 100vh;
  overflow: hidden;
}
.logo-container {
  height: 48px;
  overflow: hidden;
  width: 70px;
  margin-left: -10px;
}

.logo {
  height: 70px;
  margin-top: -11px;
  background-color: var(--dark);
  border-radius: 50%;
  left: 0;
}

.header {
  display: flex;
  font-size: 20px;
  align-items: center;
  height: 48px;
  line-height: 48px;

  h1,
  h2 {
    display: block;
    padding: 0 5px;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    margin: 0;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  h1 {
    font-size: 20px;
  }

  .separator-icon {
    font-size: 20px;
    padding: 0 5px;
  }
}

.go {
  color: #fff;
  text-shadow: none;
  background-color: #35aa47;
  background-image: linear-gradient(from top, #35aa47, #35aa47);
  background-repeat: repeat-x;
  &:hover,
  &:focus,
  &.disabled {
    background-color: #1d943b;
    background-image: linear-gradient(from top, #1d943b, #1d943b);
    color: #fff;
    background-repeat: repeat-x;
  }

  &:active {
    background-color: #35aa47;
    background-image: linear-gradient(from top, #35aa47, #1d943b);
    background-repeat: repeat-x;
  }
}
.export {
  color: #333;
  text-shadow: none;
  background-color: #eee;
  background-image: linear-gradient(from top, #eee, #eee);
  background-repeat: repeat-x;
  &:hover,
  &:focus,
  &.disabled {
    background-color: #f5f5f5;
    background-image: linear-gradient(from top, #eee, #ddd);
    color: #999;
    background-repeat: repeat-x;
  }

  &:active {
    background-color: #eee;
    background-image: linear-gradient(from top, #eee, #dcdcdc);
    background-repeat: repeat-x;
  }
}
.main {
  background: rgba(255, 255, 255, 0.75);
  height: calc(100vh - var(--topbar-height));
}

.right-info {
  display: flex;
  align-items: center;
  .username {
    padding-right: 5px;
  }
}

.site {
  text-transform: uppercase;
}

.advice {
  /* height: var(--advice-height);
  width: var(--advice-width); */
  /* right: calc(50% - var(--advice-width) / 2); */
  padding: 0.2rem;
  font-size: 0.9rem;
  /* border-bottom-left-radius: var(--default-border-radius);
  border-bottom-right-radius: var(--default-border-radius); */
  border-radius: var(--default-border-radius);
  background-color: red;
  color: var(--light);
  text-align: center;
  display: flex;
  /* position: absolute; */
  align-content: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
  z-index: 9999999;
  margin-left: 5px;
  margin-right: 5px;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .userDefinedInputs {
    display: none !important;
  }
  .showMax1024 {
    display: none !important;
  }

  .showMin1024 {
    display: flex !important;
  }

  .username {
    padding-left: 5px;
  }
}
@media (min-width: 1025px) {
  .showMax1024 {
    display: flex !important;
  }
  .showMin1024 {
    display: none !important;
  }
}
