.root {
  background: #fff;
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  transition: 0.4s all;
  color: #000;
  height: calc(100vh - 48px);
  overflow: hidden;
  display: block;
  box-shadow: 0 20px 40px - 10px rgba(0, 0, 0, 0.5),
    0 0 1rem 0 rgba(0, 0, 0, 0.5);
  &.hide {
    transform: translateY(-100%);
    box-shadow: none;
  }
}
