.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #fff;
  height: calc(100vh - 48px);
  > div {
    position: relative;
    overflow: auto;
    display: flex;
    flex: 0 auto;
    overflow-x: hidden;
    > div {
      flex: 1;
      width: 100%;
      max-width: 100%;
      min-width: 100%;
    }
    &:last-child {
      flex: 1;
      overflow-x: auto;
    }
  }
  > .maxHeight {
    flex: 1;
  }

  //Grid Header
  [role='columnheader'] {
    background: #bfd1ea;
    color: black;
    font-weight: 500;
    text-align: center;
  }

  [role='row']:not(:nth-child(2)) [role='columnheader']:not(:nth-child(2)) {
    > div {
      text-align: center;
      white-space: normal;
    }
  }

  [role='row']:not(:nth-child(1)) [role='columnheader'] {
    > div {
      text-align: center;
      white-space: normal;
    }
  }

  //End Grid Header

  .vas-details {
    margin-top: 10px;
    .title {
      padding: 0;

      color: var(--gray);
    }

    .active-tab {
      border-left: 1px solid #dddddd;
      border-right: 1px solid #dddddd;
      border-top: 2px solid #dddddd;
      .title {
        color: var(--dark);
      }
    }

    .tab-list {
      position: relative;
      margin-top: 0;
    }
    .tab-content {
      height: calc(100% - 41px);
      display: flex;
      border: none;
      margin-top: 0;
      > div {
        overflow: hidden;
        > div {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

.title {
  font-size: 20px;
  color: #000;
  font-weight: 100;
  padding: 10px;
  margin: 0;
}

.totals {
  font-weight: bolder;
  &.TotalPPM,
  &.SUMmaryTotal {
    border-top: 2px dotted #ddd !important;
  }

  > td {
    background-color: white !important;
  }
}
